.resume-icon {
    margin-right: 6px;
}

.resume-name {
    color: #F93B1D;
    font-size: 34px;
}

.resume {
    overflow-y: scroll;
    height: 100vh;
    width: auto;
}

.resume-contanct {
    font-size: 18px;
}

#resumeAboutMeTitle {
    display: none;
    color: #F93B1D;
    font-size: 18px;
}

#resumeAboutMe {
    font-size: 16px;
}

.resume-input {
    background-color: #47474711;
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
    height: 100vh;
}

.go-back-vector {
    position: absolute;
    margin-left: 9px;
    margin-top: 7px
}

#resumeImage {
    margin-left: 20px;
}

#toExperienceButton {
    margin-top: 20px;
}