@font-face {
    font-family: 'HalveticaNeue';
    src: url('../font/HelveticaNeue.ttc');
}

body {
    overflow: hidden;
    font-family: 'HalveticaNeue';
}

.go-back-icon {
    height: 30px;
    width: 30px;
}

.next-button,
.next-button:hover,
.next-button:active,
.next-button:visited {
    width: 131px;
    background-color: #6B40E3 !important;
    border: none !important;
}

.resume-title {
    border-bottom: 1px solid black;
}

.custom-invalid {
    border: 2px solid red;
    padding: 4px;
    background-image: url(../media/Vector-2.png);
    background-repeat: no-repeat;
    background-position: center right;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

.resumeInformation {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.redberryLogo {
    position: fixed;
    bottom: 20px;
    width: 100%;
    opacity: 1;
}

.light-bottom-border {
    border-bottom: 1px solid #C8C8C8;
}

.light-top-border {
    border-top: 1px solid #C8C8C8;
}

.title {
    color: #F93B1D;
}