$form-feedback-icon-valid: url("../media/Vector-3.png");
$form-feedback-icon-invalid: url("../media/Vector-2.png");
$green: #98E37E;
$red: #EF5050;

@import "../node_modules/bootstrap/scss/bootstrap";