@font-face {
    font-family: 'HalveticaNeue';
    src: url('./HelveticaNeue.ttc');
}

body {
    overflow: hidden;
    font-family: 'HalveticaNeue';
}

#bootstrap-overrides .landing-page-button {
    background-color: black;
    width: 350px;
}

.go-back-icon {
    height: 30px;
    width: 30px;
}

.background-absolute-image {
    position: absolute;
    width: 299px;
    height: 299px;
    left: 1076px;
    top: 550px;
}

.index-page {
    background-image: url(media/shutterstock.png)
}

.next-button,
.next-button:hover,
.next-button:active,
.next-button:visited {
    width: 131px;
    background-color: #8064A2 !important;
    border: none !important;
}

.resume-icon {
    margin-right: 6px;
}

.resume-name {
    color: #F93B1D;
    font-weight: 900;
    font-size: 34px;
}

.resume {
    overflow-y: scroll;
    height: 100vh;
}

.resume-contanct {
    font-size: 18px;
    font-weight: 400;
}

#resumeAboutMeTitle {
    display: none;
    color: #F93B1D;
    font-size: 18px;
    font-weight: 700;
}

#resumeAboutMe {
    font-size: 16px;
    font-weight: 400;
}