@font-face {
    font-family: 'HalveticaNeue';
    src: url('./HelveticaNeue.ttc');
}

body {
    overflow: hidden;
    font-family: 'HalveticaNeue';
}

#bootstrap-overrides .landing-page-button {
    background-color: black;
    width: 350px;
}

.go-back-icon {
    height: 30px;
    width: 30px;
}

.background-absolute-image {
    position: absolute;
    width: 299px;
    height: 299px;
    left: 1076px;
    top: 550px;
}

.index-page {
    background-image: url(media/shutterstock.png)
}

.next-button, .next-button:hover, .next-button:active, .next-button:visited {
    width: 131px;
    outline: none !important;
    background-color: #8064A2 !important;
    box-shadow: none !important;
    border: none !important;
}