#bootstrap-overrides .landing-page-button {
    background-color: black;
    width: 464px;
}

.background-absolute-image {
    position: absolute;
    width: 299px;
    height: 299px;
    left: 1076px;
    top: 480px;
}


.index-page {
    background-image: url(../media/shutterstock.png)
}

.bottom-border {
    border-bottom: 1px solid black;
}